body{
  font-family: 'Sarabun', sans-serif;
  box-sizing: border-box;
  margin:0;
  text-align: center;
  background-color:rgb(246, 246, 246);
}


header{
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
}

header h1{
  display: inline;
  margin-left: 15px;
  font-weight: 100;
}

/* bookList style*/
.list{
  display:grid;
  margin: 20px 10px 10px 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  grid-gap: 1em;
}
.card-container{
  width:100%;
  height:auto;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container img{
  width: 100%;
  padding: 10px;
}
.card-container a{
  color: black;
}
.card-container a:link{
  text-decoration: none;
}

.container {
  padding: 10px;
}
.container h2{
  font-size: 1em;
  text-align: left;
}
.container h6{
  font-size: 1em;
  text-align: left;
  font-weight: 100;
}
.container p{
  font-size: 1em;
  text-align: left;
}


/* Search */
.search-area{
margin-top: 10px;
}
.search{
  width: 100%;
  /* background-color: #343a40; */
  padding: 2rem;
  border-radius: 6px;
  
}
.search-input{
  padding: 10px 4em;
  border: 2px solid #eee;
  flex-grow: 1;
}
.search-btn{
  padding: 10px 1.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color:white;
  background-color:#2979ff;
  border:0;
  border-radius: 0px 5px 5px 0px;
  font-size:18px;
  width:max-content;
  margin-right: 5px;
}

/* Select */
.container-select select{
  background: #2979ff;
  color: #fff;
  border-radius: 2px;
  padding: 10px;
  width: 210px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  -webkit-appearance: button;
  outline: none;
}
.container-select:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  text-align:center;
  line-height: 50px;
  color: #fff;
  
}
.container-select:before:hover{
  background: #0472ca
}